body {

    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    margin: auto;
}

.order-summary-card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width:375px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 10%;
}

.title-image {

    height: 200px;
    background-image: url("images/illustration-hero.svg");
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 35px;
}

.title {

    font-size: 24px;
    font-weight: 900;
    color:hsl(223, 47%, 23%);
    margin-bottom: 25px;
}

.description-text {

    font-size: 18px;
    color:hsl(224, 23%, 55%);
    margin-left: 10%;
    margin-right: 10%;
}

.price-container {

    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;
    display: grid;
    grid-template-columns: [first] 1fr [second] 1fr [third] 1fr;
    align-items: center;
    margin: 20px;
}

#music-icon {

    justify-self: center;
}

.pricing-plan {
    
    display: grid;
    grid-template-rows: 25px;
    justify-self: left;
}

.plan-title {
    
    color:hsl(223, 47%, 23%); 
    font-weight: 900;
}

.plan-price {

    color: hsl(224, 23%, 55%);
    font-weight: 500;
}

#change-button {

    font-size: 14px;
    font-weight: 700;
    color:  hsl(245, 75%, 52%);
    text-decoration: underline;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }