body {

    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

.order-summary-card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    margin: 20% 5% 20% 5%;
}

.title-image {

    height: 200px;
    background-image: url("images/illustration-hero.svg");
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 35px;
}

.title {

    font-size: 24px;
    font-weight: 900;
    color:hsl(223, 47%, 23%);
    margin-bottom: 25px;
}

.description-text {

    font-size: 18px;
    color:hsl(224, 23%, 55%);
    margin-left: 15%;
    margin-right: 15%;
    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }