body {

    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    margin: auto;
}

.order-summary-card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width:350px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 1px hsla(224, 74%, 79%, 0.726);
    margin: auto;
    margin-top: 10vh;
}

.title-image {

    height: 200px;
    background-image: url("images/illustration-hero.svg");
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 35px;
}

.title {

    font-size: 24px;
    font-weight: 900;
    color:hsl(223, 47%, 23%);
    margin-bottom: 25px;
}

.description-text {

    font-size: 18px;
    color:hsl(224, 23%, 55%);
    margin-left: 10%;
    margin-right: 10%;
}

.price-container {

    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;
    display: grid;
    grid-template-columns: [first] 1fr [second] 1fr [third] 1fr;
    align-items: center;
    margin: 20px;
}

#music-icon {

    justify-self: center;
}

.pricing-plan {
    
    display: grid;
    grid-template-rows: 25px;
    justify-self: left;
}

.plan-title {
    
    color:hsl(223, 47%, 23%); 
    font-weight: 900;
}

.plan-price {

    color: hsl(224, 23%, 55%);
    font-weight: 500;
}

#change-button {

    font-size: 14px;
    font-weight: 700;
    color:  hsl(245, 75%, 52%);
    text-decoration: underline;
}

#change-button:hover {

    cursor: pointer;
    color: hsl(228, 45%, 44%);
}

#proceed-button {

    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    outline: none;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 20px 15px 1px hsl(228, 45%, 90%);
}

#proceed-button:hover {

    cursor: pointer;
    background-color: hsl(228, 45%, 44%);
}

#cancel-button {

    font-size: 14px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    outline: none;
    border: none;
    margin-bottom: 20px;
    background-color: white;
}

#cancel-button:hover {

    cursor: pointer;
    color: hsl(223, 47%, 23%);
}

.attribution { 

    font-size: 11px; text-align: center; 
    margin-top: 50px;
}

.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 400px) {

    body {

        background-image: url("images/pattern-background-desktop.svg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }
}